.info {
    font-size: small;
    color: gray;
    margin-bottom: 2px;
}

.header {
    text-align: center;
    margin: 12px auto;
    font-size: 28px;
}

.labelText {
    display: inline-block;
    max-width: 140px;
    width: 100%;
    margin-right: 5px;
}

.label__field {
    max-width: 350px;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}

.select {
    max-width: 350px;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}

.button {
    width: 100%;
    background: teal;
    color: white;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
}
.button:hover {
    background: hsl(180, 100%, 30%);
}
.button:active {
    background: hsl(180, 100%, 35%);
}