.app {
    margin: 20px;
    padding: 0 30px;
    resize: both;
    overflow: auto;
    background-image: url("landscape.jpg");
    background-position: center;
    background-size: cover;
    flex-basis: 620px;
    min-height: 48vh;
    border-radius: 20px;
    border: 1px solid rgb(137, 126, 126);
}